.row_position_btn_form{
    background: rgba(43, 214, 162, 0.2);
    border: 1px solid #2BD6A2;
    border-radius: 4px;
    width: 10vw;
    height: 5vh;
    justify-content: center;
}
.row_position_btn_form:active{
    background: #2BD6A2;
}
.row_position_btn_form_error{
    background: rgba(170, 26, 23, 0.2);
    border: 1px solid #AA1A17;
    border-radius: 4px;
    margin-right: 20px;
    width: 10vw;
    height: 5vh;
    justify-content: center;
}
.row_position_btn_form_error:active{
    background: #AA1A17;
}
.noActive{
    background-color: rgba(22, 30, 41, 0.6);
    border: 2px solid rgba(24, 33, 44, 0.96);
}
.noActive:active{
    background-color: rgba(24, 33, 44, 0.96);
}
.exit_btn{
    background: #B41210;
    border-radius: 7px;
    color: #FFFFFF;
}
