.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}
.text-field__input {
    display: block;
    width: 100%;
    padding: 1vh;
    font-family: inherit;
    /*font-size: 1rem;*/
    /*font-weight: 400;*/
    color: #CCCCCC;
    background: #161E29;
    background-clip: padding-box;
    border: 1px solid #161E29;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input::placeholder {
    color: rgba(94,97,103,0.81)	;
    /*color: #CCCCCC;*/
    /*opacity: 0.4;*/
}

.text-field__input:focus {
    color: #CCCCCC;
    /*background-color: #161E29;*/
    border-color: #161E29;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #161E29;
    opacity: 5;
}

/* active icon - 1 вариант */
.text-field__icon {
    position: relative;
}

.text-field__icon .text-field__input {
    padding-right: 2.5rem;
    /*width: 16vw;*/
}

.text-field__aicon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 1rem;
    width: 1rem;
    cursor: pointer;
    color: #CCCCCC;
    transition: color 0.15s ease-in-out;
}

.text-field__aicon:hover {
    color: #212529;
}
.short_input{
    width: 16vw;
    border-radius: 6px;
}
.short_input_drop_down_menu{
    border-radius: 0 0 6px 6px;
}
.short_input_active{
    border-radius: 6px 6px 0 0;
}
.click:active{
    background-color: rgba(53, 60, 73, 0.6);
    border-radius: 4px;
}
.input_space{
    border-radius: 6px 6px 0 0;
    border-color: #161E29;
    outline: 0;
    /*box-shadow: 0 0 0 1px rgba(158, 158, 158, 0.25);*/
}
.input_space:focus, input_space:active, input_space:hover{
    outline: none;
    outline-offset: 0;
    box-shadow: none;

}
