.scroll{
    overflow-y: auto;
    scroll-snap-type: y;
    scrollbar-width: none;
    max-height: 200px;
    z-index: 2;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll_horizontal{
    overflow-x: auto;
    scroll-snap-type: x;
    scrollbar-width: none;
    align-content: center;
}
.scroll_horizontal::-webkit-scrollbar {
    display: none;
}
